@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&display=swap');

body{
    background-size: 100%;
}

h1{
  position: absolute;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 100px;
  font-family: "Kaushan Script", cursive;
  font-weight: 800;
  top: 260px;
  transform: translateX(165%) translateY(-50%);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
}

h2{
  width: 800px;
  position: absolute;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 50px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
  top: 400px;
  transform: translateX(45%) translateY(-50%);
  text-align: center;
  letter-spacing: 3px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}


h4 ul {
    color: #fff;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    position: absolute;
    display: flex;
    flex-direction: column;
    list-style-type: disc;
    columns: 2;
    gap: 30px; /* adjust the gap between list items */
    top: 300px;
    left: 100px;
    text-align: left;
    justify-content: center;
    text-decoration: underline;
  }

h6 ul {
    width: 90%;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    position: absolute;
    display: flex;
    flex-direction: column;
    list-style: disc;
    top: 400px;
    left: 150px;
    align-items: center;
    justify-content: center;
    font-style: italic;
    text-align: center;
    color: #fff;
  }

@media (max-width: 768px) {
  footer .left-button, footer .right-button {
    font-size: 12px;
    padding: 5px 10px;
    cursor: pointer;
  }
}

@media (max-width: 480px) {
  footer .left-button, footer .right-button {
    font-size: 10px;
    padding: 2px 5px;
    cursor: pointer;
  }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    text-align: left;
}

nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.253), rgba(255, 255, 255, 0.213));
  backdrop-filter: blur(2px);
  height: 15%;
  justify-content:space-between;
  align-items: center;
  padding: 0 50px;
}

.leftsection {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans serif;
}

h3 {
  margin-top: 5px;
  margin-left: 5px;
  color: black;
  text-shadow: 0.1px 0.1px 0.1px #fff;
}

.logo {
  width: 70px;
}

ul {
  display: flex;
  column-gap: 50px;
}

.nav-items {
  color: white;
  font-family: "Poppins", sans serif;
  font-weight: 550;
  font-size: 1.1em;
  padding-bottom: 10px;
  border-bottom: 3px solid transparent;

  transition: all ease 0.5s;
}

.nav-items:hover {
  border-bottom: 3px solid rgb(230, 230, 230);
  color: rgb(227, 227, 227);
}

.button-container {
  display: flex;
  flex-direction: column; /* Arrange buttons in a column */
  gap: 5px; /* Space between buttons */
  position: absolute;
  top: 570px;
  transform: translateX(383%) translateY(-50%);
}
.button-container button {
  padding: 10px;
  font-size: 25px;
  background-color: rgba(0, 60, 79, 0.8);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  width: 170px; /* Set a fixed width for the buttons */
  height: 60px;
}

.button-container button:hover {
  background-color: #00303f; 
  border-bottom: none;
}

.button-container button span {
  position: relative; /* Keeps text above the background */
  color: white; /* Text remains opaque */
  z-index: 1; /* Ensures text stays on top */
}